h1{
    margin-left:  20px;
    font-size: 50px;
}
.top_lista{
    width: 100%;
    display:inline-block ;
}
.top_lista input{
    margin-top: -20px;
    margin-right: 40px;
    float: right;
} 
.fa-solid{
    margin-top: -25px;
    margin-right: -170px;
    font-size: 15px;
    color: white; 
    float: right;   
}
input:focus ~ .fa-solid{
   display: none;
}