<main>
  <header class="top_lista">
    <h1>Cursos</h1>
    <input type="text" placeholder="Busque um curso">
    <i class="fa-solid fa-magnifying-glass" ></i>
    <input list="tipo_curso" name="sexo" id="browser" required placeholder ="filtre os cursos">
          <datalist id="tipo_curso">
            <option value="vitacio">
            <option value="Todos os cursos">
            <option value="Humanas">
            <option value="Exatas">
            <option value="Tecnologia">
          </datalist>
  </header>
 
</main>
