.fa-solid{
  font-size: 2rem;
  margin-top: -10px;
}
a{
  background: transparent;
  text-decoration: none;
}
nav{
  list-style-type: none;
  background-color: #0f081d;
  width: 100%;
  padding: 2rem 2.2rem 2rem 0.5rem;
}
.dados_conta,.out{
  float: right;
}
.out{
  margin-right: 1rem;
  color: white;
}

