main{
  padding-bottom: 30px;

}
h1{
  position: absolute;
  margin-left: 150px;
  padding-top: 190px;
  font-size: 40px;
}
img,section{
  margin-top: -279px;
  height:35rem;
  width: 60%;
}
img{
  margin-left: 540px;
  margin-top: -301px;
}
.login-box {
  position: absolute;
  top: 50%;
  left: -16%;
  width: 655px;
  padding: 40px;

}
.login-box .user-box {
  position: relative;
}

.login-box .user-box input{
  width: 100%;
  padding: 10px 0;
  margin-bottom: 45px;
  margin-top: 30px;
}

.login-box .user-box label{
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
  margin-top: 30px;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;

}
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;

}

.login-box .user-box input:focus  ~ label,
.login-box .user-box input:valid  ~ label{
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}
button{
  position: absolute;
  margin-top: 35px;
  left: 460px;
  float: right;
  width: 100px;
}

.logo_menu{
  position: absolute;
  margin-top: 15px;
  margin-left: 65px;
  height: 120px;
  width: 150px;
  padding-right: 20px;
  text-decoration: none;
}
header a{
  background-color: transparent;
}
.cadastrar{
  position: absolute;
  margin-top: 35px;
  left: 330px;
  float: right;
  width: 120px;
}


