<main>
  <header>
    <a routerLink="/home"><img class="logo_menu" src=".././assets/logo_grande_sem_fundo.png"></a>
    <h1>Login</h1>
  </header>
  <section>
    <div class="login-box">
      <form>

        <div class="user-box">
          <input type="email" name="email"  required>
          <label>E-mail</label>
        </div>

        <div class="user-box">
          <input type="password" name="senha"  required>
          <label>Senha</label>
        </div>

        <button (click)="this.logar()">Login</button>
        <a class="cadastrar" routerLink="/cadastrar">Cadastre-se</a>
      </form>
    </div>
  </section>
  <img src="../../assets/cheerful-brunette-group-young-people-casual-clothes-working-modern-office.jpg" alt="">

</main>
