main{
   padding-bottom: 30px;
 
}
h1{
    position: absolute;
    margin-left: 150px;
    padding-top: 300px;
    font-size: 40px;
}
h2{
  position: absolute;
  left: 18%;
  top:-10%;
  padding: 20px;
}
img,section{
    margin-top: -279px;
    height:35rem;
    width: 60%;
}
img{
    margin-left: 540px;

}
.login-box {
    position: absolute;
    top: 40%;
    left: -16%;
    width: 655px;
    padding: 40px;
    
  }
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input, select {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 45px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
 
.login-box .user-box label{
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

.login-box .user-box input:focus  ~ label,
.login-box .user-box input:valid  ~ label{
    top: -25px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}
button{
  position: absolute;
  margin-top: -30px;
  left: 480px;
}