@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*margin{
    margin: 0;
    padding: 0;
  }
  
body{
  background-color: rgba(65, 6, 90, 0.747);
}


