<nav>
    <a routerLink="home"><img class="logo_menu" src=".././assets/logo_grande_sem_fundo.png" alt=""></a>
    <div>
        <a href="" class="items_menu">Planos</a>
        <a href="" class="items_menu">Fale Conosco</a>
        <a href="" class="items_menu">Sobre Nós</a>
        <a routerLink="listaCursos" class="items_menu">Cursos</a>
    </div>
   <div class="cadastrar_login">
        <a href="" class="login_menu" >Login</a>
        <a routerLink="cadastrar" class="cadastrar_menu">assinar <i class="fa-solid fa-chevron-right"></i></a>
   </div>
</nav>
<router-outlet></router-outlet>
<footer>
    <a routerLink="home"><img class="logo_nav" src="../../assets/logo_grande_sem_fundo.png" alt=""></a>
    <div class="direitos_autorais">&copy; 2025 - direitos autorais JN EAD PLataform</div>
    <div class="divisor"></div>
    <a href="https://www.instagram.com/joao_neiva_neto/">
        <i class="fa-brands fa-instagram" ></i>
    </a>
    <a href="https://www.youtube.com/@fluenciaemprogranacao">
        <i class="fa-brands fa-youtube"></i>
    </a>
    <a href="https://www.linkedin.com/in/joaoneivaneto/">
        <i class="fa-brands fa-linkedin"></i>
    </a>

  
</footer>