h1{
  margin-left: 2rem;
}
main{
  margin-bottom: 2rem;
}
#container{
  margin-left: 1rem;
  margin-top: 2rem;

}
.accordion-header{
  margin: 0rem ;
  width: 80rem;
  border: 2px solid rgba(151,15,161,0.49);
  border-radius: 1rem;
  background-color: transparent;
  cursor: pointer;
}

.accordion-header span{
  float: left;
  margin-left: 1rem;
  font-size: 1.5rem;
}

.accordion-header i{
  float: right;
  margin-right: 1rem;
  font-size: 2rem;
}
.accordion-body{
  margin-left: 3rem;
  margin-bottom: 1rem;
}

.accordion:has(.active) .fa-solid{
  transform: rotate(270deg);
}
.accordion-header:hover{
  background-color: rgba(155,39,255,0.01);
}

.video{
  margin-bottom: 4rem;
}
h2{
  margin-bottom:4rem ;
}
div{
  position: relative;
  display: block;
  margin-top: 1rem;
  margin-left: .3rem;
}


