<main>
  <header>
    <h1> Fale Conosco </h1>
  </header>
  <section>
    <div class="login-box">
      <form>
        <div class="user-box">
          <label>E-mail*</label>
          <input type="email" name="email"  required>
        </div>

        <div class="user-box">
          <label>Digite Sua Mensagem*</label>
          <textarea name="mensagem" rows="10"></textarea>
        </div>


        <button>enviar</button>
      </form>
    </div>
  </section>
  <img src="../../assets/portrait-happy-smiling-cheerful-beautiful-young-support-phone-operator-headset-with-laptop-isolated-white-wall.jpg" alt="">

</main>
