<main>
  <header>
    <h1> Fale Conosco </h1>
  </header>
  <section id="container">
      <h2>Dados para o envio do email</h2>
    <section class="entre-contato">

       <p>
          email:<a href="mailto:jn@plataformaeadjn.com">jn@plataformaeadjn.com</a>
       </p>
        <p>palavras chaves: dúvida sobre conteúdo, duvidas sobre compra ou grande curricular dos cursos, probremas na plataforma, envio de currículo.</p>
        <p>
            Modelo assunto: (seu nome) + (pavavra chave)
        </p>
        <p>Conteúdo de email: Descreva de forma fácil de entender o problemas
            com o máximo de detalhes, como prints anexados ou caso tenha iniciado o curso digite trechos de falas dos professores, caso ja esteja  </p>
    </section>
      <img src="../../assets/portrait-happy-smiling-cheerful-beautiful-young-support-phone-operator-headset-with-laptop-isolated-white-wall.jpg" alt="">
  </section>


</main>
