main{
  padding-bottom: 30px;

}
h1{
  position: absolute;
  margin-left: 150px;
  margin-top: 300px;
  font-size: 40px;
}
img,section{
  margin-top: -279px;
  height:35rem;
  width: 60%;
}
img{
  margin-left: 540px;
  margin-top: -279px;
}
.form-box {
  position: absolute;
  top: 35%;
  left: -16%;
  width: 655px;
  padding: 40px;

}
.form-box .user-box {
  position: relative;
}

.form-box .user-box input, textarea{
  width: 100%;
  border: solid 2px white;
  border-radius: 5px;
  margin-bottom: 50px;
  padding: 5px 0 0;
  background: transparent;
  padding-left: 2px;
  margin-top: 10px;


}
textarea:focus{
  color: white;
  border: solid 2px blue;
}

.form-box .user-box label{
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  margin-bottom: 10px;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;

}
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;

}


button{
  position: absolute;
  margin-top: 35px;
  left: 460px;
  float: right;
  width: 100px;
}

.logo_menu{
  position: absolute;
  margin-top: 15px;
  margin-left: 65px;
  height: 120px;
  width: 150px;
  padding-right: 20px;
  text-decoration: none;
}



