.home_top{
  background-color:rgba(107, 14, 14, 0.986);
  height: 100%;
  width: 100%;
  padding: 10px;
  
}
button{
  margin-top: 450px;
}
.fa-solid{
   margin-left: 3px;
}
.pessoa ,.pessoa2, .pessoa3{
  margin-top: 30px;
  width:200px ;
  height: 300px;
  border-radius: 30px;
  float: right;
  margin-right: 20px;
}
.pessoa2{
  height: 200px;
  width: 140px;
  margin-right: 15px;
  margin-top: 300px;
}

.pessoa3{
  height: 200px;
  width: 200px;
  margin-right: -80px;
  margin-top: 70px;
}

.title, .descricao{
  position: absolute;
  display: inline-block;
  margin-left: 60px;
  width: 800px;
  
}
.title{
  margin-top: 50px;
}
.descricao{
  margin-top: 320px;
}
header{
  text-align: start;
}
article{
  font-size: 25px;
}
.logo{
  margin-top: 50px;
  float: right;
  margin-right: -10px;
}
.principios header{
  padding-top: 100px;
  text-align: center;
}

h3{
  padding:  50px 100px;
}
.valores,.missao{
  padding-left: 10px;
  padding-right: 10px;
}
.valores{
  width: 50%;
  float: left;
}
.missao{
  width: 50%;
  float: right;
}
ol{
  padding-left: 80px;
  padding-right: 80px;
}
ol>li, ol>article{
  padding-bottom: 20px;
}
ol>article{
  text-align: start;
  font-size: 20px;
}
.principios .separar{
  position: absolute;
  
  height: 350px;
  border: 1px solid white;
  margin-left: 650px;
  margin-top: 150px;
}
.divisor{ 
  height: 100px;
  border: 1px solid white;
}
